.idea
.ipynb*
__pycache__/*
*.py[cod]
build/*
dist/*
abtmui*
*~
~                                                                                                                                                                                                                                                                                      
~                                                                                                                                                                                                                                                                                      
~                                                                                                                                                                                                                                                                                      
~                                                   
